@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/hinted-NeueMontreal-Light.eot');
  src: url('../fonts/hinted-NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-NeueMontreal-Light.woff2') format('woff2'),
    url('../fonts/hinted-NeueMontreal-Light.woff') format('woff'),
    url('../fonts/hinted-NeueMontreal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/hinted-NeueMontreal-BoldItalic.eot');
  src: url('../fonts/hinted-NeueMontreal-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-NeueMontreal-BoldItalic.woff2') format('woff2'),
    url('../fonts/hinted-NeueMontreal-BoldItalic.woff') format('woff'),
    url('../fonts/hinted-NeueMontreal-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/hinted-NeueMontreal-Bold.eot');
  src: url('../fonts/hinted-NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-NeueMontreal-Bold.woff2') format('woff2'),
    url('../fonts/hinted-NeueMontreal-Bold.woff') format('woff'),
    url('../fonts/hinted-NeueMontreal-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/hinted-NeueMontreal-Italic.eot');
  src: url('../fonts/hinted-NeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-NeueMontreal-Italic.woff2') format('woff2'),
    url('../fonts/hinted-NeueMontreal-Italic.woff') format('woff'),
    url('../fonts/hinted-NeueMontreal-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/hinted-NeueMontreal-LightItalic.eot');
  src: url('../fonts/hinted-NeueMontreal-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-NeueMontreal-LightItalic.woff2') format('woff2'),
    url('../fonts/hinted-NeueMontreal-LightItalic.woff') format('woff'),
    url('../fonts/hinted-NeueMontreal-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/hinted-NeueMontreal-Regular.eot');
  src: url('../fonts/hinted-NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/hinted-NeueMontreal-Regular.woff') format('woff'),
    url('../fonts/hinted-NeueMontreal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
@apply h-full min-h-full pb-11;
background: rgb(255, 255, 255);
  
  
  p, li {
    @apply text-base
  }
  a {
    &:hover {
      @apply bg-yellow-100
    }
  }
}

a, a:link, a:visited {
  @apply underline;
}
